{% extends 'shared/base.html' %}

{% block title %}Home{% endblock %}

{% block header %}<h1>Home Page</h1>{% endblock %}

{% block page_content %}
<img src="/static/images/avatar.jpg" alt="My photo" style="display:block; margin-left:auto; margin-right:auto; max-width:300px; border-radius:9999px;">
<p style="font-size:24px; text-align: center;">Hello 👋&nbsp&nbspI&#x27;m Ivan Maksimov</p>
<br>
<p style="font-size:20px; text-align: center;">This site is my web service where you can apply machine learning models to solve some problems.</p>
<p style="font-size:20px; text-align: center;">Select a problem you want to solve from the navigation menu.</p>
{% endblock %}
